{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<h6>Flight Details</h6>
<ul>
    <li>
       Airline: {{doc.Airplane}}
    </li>
    <li>
        {{doc.source_airport_code}}->{{doc.destination_airport_code}}
     </li>
     <li>
        {{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }} | {{ doc.time_of_departure }}
     </li>
     <li>
        Duration:{{frappe.utils.format_duration(doc.duration)}}
     </li>

</ul>
<button type="button" class="btn btn-primary">Book Flight</button>
{% endblock %}

<!-- this is a sample default web page template -->